* {
  box-sizing:border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #ffc600;
  padding: 50px;
  transition: all 1s;
}

body.taking {
  background: white;
  transition: all .1s;
}

body.taking > * {
  opacity: 0.1;
}

.photobooth {
  position: relative;
}

.wrap {
  width:100%;
  position: relative;
  font-size: 0;
}

.wrap video {
  position: absolute;
  width: 30%;
  top: 10px;
  right: 10px;
}


canvas {
  width: 100%;
  border: 10px solid black;
}

.countdown {
  font-size: 500px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
  position: absolute;
  width: 100%;
  display:block;
  left: 0;
  top:0;
  text-align: center;
  height: 100%;
  display: grid;
  align-content: center;
  color: white;
  pointer-events: none;
}

.strip {
  overflow:scroll;
  display: flex;
  --size: 200px;
}

.strip a {
  width: var(--size);
}

.strip img {
  border: 10px solid black;
  width: 100%;
  margin-left: var(--size);
}
.strip a:first-child {
  width: var(--size);
  position: absolute;
  left: calc(-1 * var(--size));
  width: var(--size);
  transition: all 0.5s;
  top: 100%;
  transform: translateY(-100%);
}

.strip a.full {
  width: var(--size);
  pointer-events: none;
  position: absolute;
  left: calc(-1 * var(--size));
  width: 100%;
  top: 0;
  transform: translateY(0);
}

.button-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button-list button {
  font-size: 20px;
  border:0;
  background: rgba(0,0,0,0.2);
  color: white;
  padding: 20px;
}

.rgb {
  grid-column: 1 / -1;
}
